<footer>
  <div class="prefooter">
    <div class="container">
      <div class="region region-prefooter">
        <section id="block-block-19" class="block block-block clearfix">    
          <div class="related-site-logo related-site-logo-idpf">
            <a href="https://www.w3.org/publishing/" target="_blank"><img src="/assets/logos/w3c_logo_gray.png"></a>
          </div>
          <div class="related-site-logo related-site-logo-epub">
            <a href="epub_zone/resources.html/"  target="_blank"><img class="related-site-logo-epub" src="/assets/logos/epub-logo-gray.png"></a>
          </div>
          <div class="related-site-logo related-site-logo-epubzone">
            <a href="https://readium.firebaseapp.com/?"  target="_blank"><img class="related-site-logo-epubzone" src="../assets/logos/EPUB-Demos-Logo.png"></a>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="region region-footer">
        <section id="social-links" class="block block-block col-sm-4 col-sm-push-5 twitter-accounts">
          <div>
            <span style="padding-right: 2em;">Twitter:</span> <a href="https://twitter.com/readiumjs" style="padding-right: 2em;">@readiumjs</a> 
            <a href="https://twitter.com/EDRLab_EPUB">@EDRLab</a>
          </div>
        </section>
        <section id="block-menu-menu-secondary-menu" class="block block-menu col-sm-3 col-sm-push-5">    
          <ul class="menu nav">
            <li class="first leaf"><a href="/about/faq.html" title="">FAQ</a></li>
            <li class="last leaf"><a href="/contact/contact.html">Contact Us</a></li>
          </ul>
        </section>
        <section id="copyright-notice" class="block block-block col-sm-5 col-sm-pull-7">    
          <div class="copyright-notice">{{ site.copyright_notice | escape }}</div>
        </section>
      </div>
    </div>
  </div>
</footer>
