<header id="navbar" role="banner" class="navbar container navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="logo navbar-btn pull-left" href="{{ "/" | relative_url}}">
        <img src="/assets/logos/readium-logo.png" alt="Home" />
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <nav role="navigation">
        
        <ul class="menu nav navbar-nav">

<!--             <li class="first expanded dropdown"><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.navtitle | escape }}</a></li> -->

              

              <li class="first expanded dropdown">
                <a href="/membership" title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                  
        <ul class="dropdown-menu">
              <li class="first leaf">
                <a href="http://readium.org/about/project-goals">Project Goals</a>
              </li>
              <li class="leaf">
                <a href="http://readium.org/about/applications-based-on-readium">Applications Based on Readium</a>
                    </li>
                  </ul>
              </li>

              <li class="first leaf">
                <a href="/table-of-contents/">Table Of Contents</a>
              </li>


        </ul>
      </nav>
    </div>
  </div>
</header>
