<header id="navbar" role="banner" class="navbar container navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="logo navbar-btn pull-left" href="https://readium.org">
        <img src="/assets/logos/readium-logo.png" alt="Home" title="Home"/>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <nav role="navigation">
        
        <ul class="menu nav navbar-nav">

          <li>
            <a href="" title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                  
            <ul class="dropdown-menu">
              <li class="first leaf">
               <a href="/about/project_goals.html">Project Goals</a>
              </li>
              <li class="leaf">
                <a href="/about/applications.html">Applications</a>
              </li>
              <li class="leaf">
                <a href="/about/faq.html">FAQ</a>
              </li>
              <li class="last leaf">
                <a href="/contact/contact">Contact Us</a>
              </li>              
            </ul>
          </li>

          <li class="first leaf">
            <a href="https://blog.readium.org">Blog</a>
          </li>
                            
          <li>
            <a href="#" title=""  class="dropdown-toggle" data-toggle="dropdown" >Development <span class="caret"></span></a>
            
            <ul class="dropdown-menu">                                                            
              <li class="first leaf">
                <a href="/development/contributing">Contributing</a>
              </li>
              <li class="leaf">
                <a href="/architecture/">Architecture</a>                           
              </li> 
              <li class="leaf">
                <a href="/development/projects">Projects</a>                           
              </li>                                   
              <li class="leaf">
                <a href="https://github.com/readium">GitHub Repos</a>
              </li>      
              <li class="leaf">
                <a href="/awesome-readium/">Awesome Readium</a>                           
              </li>                                   
            </ul>      
                     
          </li>

          <li>
            <a href="#" title=""  class="dropdown-toggle" data-toggle="dropdown" >Membership <span class="caret"></span></a>
            
            <ul class="dropdown-menu">
              <li class="first leaf">
                <a href="/membership/overview/">Overview</a>                           
              </li>                                   
              <li class="leaf">
                <a href="/membership/join/">Joining the Foundation</a>
              </li> 
              <li class="last leaf">
                <a href="/membership/elections/">Board Elections</a>
              </li>  
            </ul>      
                     
          </li>
             
            </ul>
        </nav>
    </div>
</div>
</header>
