---
layout: default
permalink: /index/
---
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">

      <li><a href="index.html">Home</a></li>
      <li class="active">{{ page.title | escape }}</li>

    </ol>
  </div>
</div>

<div class="main-container-wrapper">
    <div class="region region-hero">
      <section id="block-block-16" class="block block-block clearfix">
      
      <div class="container">
        <div class="hero-text col-sm-5">
          <h1 class="hero-text-element hero-heading">Open Source Technology for EPUB 3 and the Open Web Platform</h1>
          <p class="hero-text-element hero-description">Our mission is to foster the development of an open and modern collaborative playground for digital reading technologies.</p>
          <p class="hero-text-element hero-description">The Foundation maintains the Readium project and provides an open forum where developers can exchange ideas, best practices and their latest achievements in reading applications and services.</p>
        </div>
        <div class="hero-actions col-sm-7">
          <div class="hero-action hero-install-readium">
            <a class="btn btn-primary" href="https://github.com/readium" target="_blank">Visit Readium at GitHub</a>
          </div>
           <div class="hero-action hero-participate">
            <a class="btn btn-primary" href="development/contributing/index.html">How To Participate!</a>
          </div>
        </div>
      </div>
    </section>
  </div>

</section>
