---
layout: default
---
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{ site.readium-url }}">Readium.org</a></li>
      <li><a href="/" class="active-trail">Developers</a></li>
      <li class="active">{{ page.title | escape }}</li>
    </ol>
  </div>
</div>

<div class="main-container container">
  <div class="row">
    <section class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <article itemscope itemtype="http://schema.org/BlogPosting">
      </br>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </section>
  </div>
</div>
